<app-home></app-home> <!--Mark the home component as export to use in this module-->

<p>reservation-list works!</p>
<h2>Reservation List</h2>

<ul *ngIf="this.reservations.length; else noReservations">
    <li *ngFor="let reservation of this.reservations">
        Guest Name: {{reservation.guestName}} <br>
        Guest Email: {{reservation.guestEmail}} <br>
        Check-In: {{reservation.checkInDate | date:'yyyy-MM-dd'}} <br>
        Check-Out: {{reservation.checkOutDate | date:'yyyy-MM-dd'}} <br>
        Room Number: {{reservation.roomNumber}} <br>
        <button (click)="deleteReservation(reservation.id)">Delete</button> <br>
        <button [routerLink]="['/edit', reservation.id]">Edit</button>
    </li>
</ul>

<!--local reference-->
<ng-template #noReservations>
    <p>No reservations available.</p>
</ng-template>
